.statusBarBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1152px;
  height: 58px;
}
.notification {
  position: absolute;
  top: 22px;
  left: 813px;
  font-weight: 500;
}
.statusBarContents {
  position: absolute;
  top: 0;
  left: 774.4px;
  width: 377.6px;
  height: 66px;
}
.adminxenxorcom {
  position: absolute;
  top: 22px;
  left: 979px;
  font-weight: 500;
}
.image1Icon,
.image2Icon {
  position: absolute;
  top: 15px;
  left: 774px;
  width: 33px;
  height: 29px;
  object-fit: cover;
}
.image1Icon {
  left: 936px;
  width: 34px;
  height: 31px;
}
.statusBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1152px;
  height: 66px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.xenxorTrackingSystem {
  position: absolute;
  top: 15px;
  left: 18px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  text-align: left;
}
.dashboard {
  position: absolute;
  top: 66px;
  left: 15px;
  font-weight: 600;
}
.configurationObuDeviceLisChild {
  position: absolute;
  top: 89.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 1153px;
  height: 1px;
}
.reporting {
  position: absolute;
  top: 66px;
  left: 220px;
  font-weight: 600;
}
.chevronDownIcon {
  position: absolute;
  height: 2.57%;
  width: 1.56%;
  top: 9.43%;
  right: 73.87%;
  bottom: 88%;
  left: 24.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.configuration,
.logout {
  position: absolute;
  top: 66px;
  left: 321px;
  font-weight: 600;
}
.logout {
  top: 68px;
  left: 1073px;
}
.chevronDownIcon1 {
  position: absolute;
  height: 2.57%;
  width: 1.56%;
  top: 9.43%;
  right: 63.11%;
  bottom: 88%;
  left: 35.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tracking {
  position: absolute;
  top: 66px;
  left: 124px;
  font-weight: 600;
}
.chevronDownIcon2 {
  position: absolute;
  height: 2.57%;
  width: 1.56%;
  top: 9.43%;
  right: 82.99%;
  bottom: 88%;
  left: 15.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image58Icon {
  position: absolute;
  top: 66px;
  left: 1048px;
  width: 19px;
  height: 19px;
  object-fit: cover;
}
.orderDeliveryList {
  position: absolute;
  top: 105px;
  left: 26px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-mediumslateblue-200);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-600);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  width: 173px;
  height: 22px;
}
.orderId {
  position: absolute;
  top: 5px;
  left: 16.48px;
  font-weight: 500;
  display: inline-block;
  width: 140px;
  height: 11.38px;
}
.vectorIcon {
  position: absolute;
  height: 51.72%;
  width: 7.71%;
  top: 24.14%;
  right: 9.36%;
  bottom: 24.14%;
  left: 82.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent {
  position: absolute;
  top: 105px;
  left: 958px;
  width: 173px;
  height: 22px;
  text-align: left;
  font-size: var(--font-size-4xs);
  color: var(--color-gray-200);
}
.screenShot20211213At153 {
  position: absolute;
  top: 638px;
  left: 684px;
  width: 438px;
  height: 46px;
  object-fit: cover;
}
.configurationObuDeviceLis {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 700px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue-200);
  font-family: var(--font-montserrat);
}
