.configurationRegisterObuVChild {
  position: absolute;
  top: 318px;
  left: 67px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1018px;
  height: 107px;
}
.statusBarBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1152px;
  height: 58px;
}
.notification {
  position: absolute;
  top: 22px;
  left: 813px;
  font-weight: 500;
}
.statusBarContents {
  position: absolute;
  top: 0;
  left: 774.4px;
  width: 377.6px;
  height: 66px;
}
.adminxenxorcom {
  position: absolute;
  top: 22px;
  left: 979px;
  font-weight: 500;
}
.image1Icon,
.image2Icon {
  position: absolute;
  top: 15px;
  left: 774px;
  width: 33px;
  height: 29px;
  object-fit: cover;
}
.image1Icon {
  left: 936px;
  width: 34px;
  height: 31px;
}
.statusBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1152px;
  height: 66px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.xenxorTrackingSystem {
  position: absolute;
  top: 15px;
  left: 18px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.dashboard {
  position: absolute;
  top: 66px;
  left: 15px;
  font-weight: 600;
  text-align: center;
}
.configurationRegisterObuVItem {
  position: absolute;
  top: 89.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 1153px;
  height: 1px;
}
.reporting {
  position: absolute;
  top: 66px;
  left: 220px;
  font-weight: 600;
  text-align: center;
}
.chevronDownIcon {
  position: absolute;
  height: 2.57%;
  width: 1.56%;
  top: 9.43%;
  right: 73.87%;
  bottom: 88%;
  left: 24.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.configuration,
.logout {
  position: absolute;
  top: 66px;
  left: 321px;
  font-weight: 600;
  text-align: center;
}
.logout {
  top: 68px;
  left: 1073px;
}
.chevronDownIcon1 {
  position: absolute;
  height: 2.57%;
  width: 1.56%;
  top: 9.43%;
  right: 63.11%;
  bottom: 88%;
  left: 35.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tracking {
  position: absolute;
  top: 66px;
  left: 124px;
  font-weight: 600;
  text-align: center;
}
.chevronDownIcon2 {
  position: absolute;
  height: 2.57%;
  width: 1.56%;
  top: 9.43%;
  right: 82.99%;
  bottom: 88%;
  left: 15.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image58Icon {
  position: absolute;
  top: 66px;
  left: 1048px;
  width: 19px;
  height: 19px;
  object-fit: cover;
}
.deliveryOrderSummary {
  position: absolute;
  top: 105px;
  left: 15px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-mediumslateblue-200);
  text-align: center;
}
.div,
.itemDescription,
.ptExample1 {
  position: absolute;
  top: 334px;
  left: 779px;
  font-weight: 500;
  color: var(--color-gray-200);
}
.div,
.ptExample1 {
  top: 370px;
  left: 225px;
  font-weight: 600;
  color: var(--color-dimgray-200);
}
.ptExample1 {
  top: 374px;
  left: 240px;
  font-weight: 500;
  color: var(--color-gray-200);
}
.configurationRegisterObuVChild1,
.configurationRegisterObuVInner {
  position: absolute;
  top: 218.5px;
  left: 229.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 273px;
  height: 1px;
}
.configurationRegisterObuVChild1 {
  top: 257.5px;
}
.ariefSetiawan,
.b1234Abc,
.december20210940,
.dlv1234567890,
.num202109395393 {
  position: absolute;
  top: 160px;
  left: 233px;
  font-weight: 500;
  color: var(--color-gray-200);
  display: inline-block;
  width: 184px;
  height: 15px;
}
.ariefSetiawan,
.b1234Abc,
.dlv1234567890,
.num202109395393 {
  top: 237px;
  color: var(--color-mediumslateblue-200);
}
.ariefSetiawan,
.b1234Abc,
.dlv1234567890 {
  top: 160px;
  left: 814px;
  color: var(--color-gray-200);
}
.ariefSetiawan,
.dlv1234567890 {
  top: 201px;
}
.dlv1234567890 {
  top: 196px;
  left: 233px;
  color: var(--color-mediumslateblue-100);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 86px;
  height: 30px;
}
.print {
  position: absolute;
  top: 7.5px;
  left: 13.91px;
  font-weight: 600;
  display: inline-block;
  width: 63.87px;
  height: 16.67px;
}
.rectangleParent {
  position: absolute;
  top: 104px;
  left: 1048px;
  width: 86px;
  height: 30px;
  text-align: center;
  color: var(--color-white);
}
.image68Icon {
  position: absolute;
  top: 331px;
  left: 454px;
  width: 85px;
  height: 83px;
  object-fit: cover;
}
.configurationRegisterObuV {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 700px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue-200);
  font-family: var(--font-montserrat);
}
